.favorites{
    height: 100vh;
    background: url('../../../assets/images/novel.jpg');
    background-size: cover;
}


.list-book-favorites{
    display: grid;
    grid-template-columns: repeat(auto-fit,
    minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
    height: auto;
    background: url('../../../assets/images/novel.jpg');
    background-size: cover;
    margin-top: -50px;
}



.card-books{
    background: white;
    cursor: pointer;
    transition: transform 200ms ease-in;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 60px;
}

.card-books:hover{
    transform: scale(1.02);
}

.favorites-title{
    color: white;
    text-align: center;
    font-weight: 800;
    text-shadow: 2px 2px black;
    margin-bottom: 20px;
}

.no-favorites-title{
    color: white;
    text-align: center;
    font-weight: 800;
    text-shadow: 2px 2px black;
    margin-top: 5rem;
    margin-left: 50px;
}

.book-title{
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-size: 12px;
}

.image-favorites{
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}  
