.text-intro{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 800;
    color: white;
    line-height: 1;
    text-shadow: 2px 2px black;
    letter-spacing: 3px;
}

.text-style{
    margin-top: 300px;
}

.top-books{
    height: 100vh;
    background: url('../../../assets/images/science.jpg');
    background-size: cover;
}

.myBg{
    margin-top: 0;
    height: 100vh;
    background: url('../../../assets/images/sliver.jpg');
    background-size: cover;
  }

  .trending-section{
    margin-top: -21px;
    height: auto;
    background: url('../../../assets/images/science.jpg');
    background-size: cover;
  }

  .top-title{
    text-align: center;
    margin-bottom: 50px;
    font-size: 3rem;
    font-weight: 800;
    color: white;
    line-height: 1;
    text-shadow: 2px 2px black;
  }